/* HomePage.css */
.landing-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("C:\Users\dhanu\OneDrive\Documents\Intern\Template\src\images\LandingPage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .start-gif1 {
    width: 200px;
    height: 200px;
    background-image: url("C:\Users\dhanu\OneDrive\Documents\Intern\Template\src\images\game-control.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .help-logo {
    background-image: url("C:\Users\dhanu\OneDrive\Documents\Intern\Template\src\images\helper.gif");
    background-size: contain; /* Ensures the GIF fits within the element */
    background-repeat: no-repeat; /* Prevents the GIF from repeating */
    background-position: center; /* Centers the GIF within the element */
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px; /* Set the width of the element */
    height: 50px; /* Set the height of the element */
    cursor: pointer;
  }
  
  .white-box-overlay {
    position: absolute;
    bottom: 10%; /* Adjust based on the position of the white box */
    left: 18%; /* Adjust based on the position of the white box */
    transform: translate(-50%, -50%);
    width:40px; /* Adjust based on the width of the white box */
    height: 100px; /* Adjust based on the height of the white box */
    
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .white-box-overlay p {
    font-size: 18px; /* Adjust font size as needed */
    font-family: "Arial Unicode MS", "Tamil Sangam MN", sans-serif; /* Use a Tamil font */
    color: #000; /* Text color */ 
    font-family: "Tamil Sangam MN", "Latha", sans-serif; 
    margin: 0;
  }